body {
  background-color: #000;
  font: 20px/1.8 Verdana, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #333;
}

h1 {
  color: #eee;
  font-size: 1.8em;
  margin: 0;
  padding: 5px;
  text-align: center;
}

nav {
  background-color: #ddd;
  height: 50px;
}

#nav-list {

}

main {

}

#section-01 {
  background-color: #f00;
}

#section-02 {
  background-color: #0f0;
}

#section-03 {
  background-color: #00f;
}

#section-04 {
  background-color: #fff;
}

.active-section {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border: 4px solid #333;
}

.section-text {
  color: #333;
  margin: 0;
  padding: 100px;
}

footer {
  background-color: #000;
}

.copy {
  color: #eee;
  font-size: .75em;
  text-align: center;
}
