html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font: 14px/1.8 Verdana, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  background-color: #333;
  border: 2px solid #000;
}

h1 {
  color: #eee;
  font-size: 2em;
  margin: 0;
  padding: 5px;
  text-align: center;
}

nav {
  background-color: #ddd;
}

.nav-label {
  border-right: 2px solid #000;
  margin: 0;
  padding: 10px;
}

#nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-list li {
  border-right: 2px solid #000;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

#nav-list a {
  color: #333;
  text-decoration: none;
}

#nav-list li:hover {
  background-color: #333;
}

#nav-list li:hover > a {
  color: #ddd;
}

main {

}

section {
  border: 1px solid #000;
}

.active-section {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border: 4px solid #333;
}

.section-text {
  color: #eee;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: .2em;
  margin: 0;
  padding: 100px;
  /* added for text legibility on multi-colored backgrounds */
  text-shadow:
    1px -1px 2px #222,
    -1px 1px 2px #222,
    -1px -1px 2px #222,
    1px 1px 2px #222;    
}

footer {
  background-color: #000;
}

.copy {
  color: #eee;
  font-size: .75em;
  text-align: center;
}
